body {
  display: flex;
  justify-content: center;
  align-content: center;
}

.card {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15vw;
  padding: 1em;
}

.card img {
  width: 10em;
  height: 10em;
  border-radius: 100px;
}

.info {
  color: #ffffff;
  width: 50%;
}

.info a,
.info a:visited{
  color: #ffffff;
  text-decoration: none;
}

.info ul {
  list-style: none;
  padding: 0;
}

.info ul li {
  padding-right: 1em;
}

progress {
  border-radius: 7px;
  box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 );
}
progress::-webkit-progress-bar {
  background-color: dimgrey;
  border-radius: 7px;
}
progress::-webkit-progress-value {
  background-color: darkred;
  border-radius: 7px;
}

.into {
  display: flex;
}